* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2D9BEB;
    overflow: hidden;
}

/* Ajuste do tamanho da imagem */
.image-container img {
    width: 70%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
}

.form-container {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2D5FEB;
    color: white;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background: #ffffff;
    color: black;
}

button {
    width: 100%;
    padding: 12px;
    background: #E43A12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #c1320e;
}

.error {
    border: 2px solid red;
    background-color: #ffcccc;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;/
    }

    .image-container {
        height: 250px;
    }

    .image-container img {
        width: 80%;
        height: auto;
    }
}